* {
  box-sizing: border-box;
}

body {
  font-family:Arial, Helvetica, sans-serif;
}
.header{
padding:30px;
color:red;
font-style: italic;
font-weight: bold;
font-size: 30px;
text-align:center;
background-image: url("https://www.lamachineacoudre.ch/var/m_0/0c/0c9/27945/9607523-DSC_0448_edited_4.w1900.jpg");
background-position:center;
background-size:cover;

}

.navbar{
  display:flex;
  position: -webkit-sticky;
  position:sticky;
  top:0;
  background-color:black;
  align-items: center;
}

.navbar a {
  color:red;
  padding: 10px 10px;
  text-decoration:none;
  text-align:center;
}
.navbar a:hover:not(.active) {
  background-color:crimson;
  color:black;
}

.navbar a.active{
  background-color:blue;
  color:white;
}

.row {
  display:flex;
  flex-wrap:wrap;
}

.side{
  flex:30%;
  background-color:grey;
  color:blue;
  padding:20px;
}
.main{
  flex:70%;
  background-color:lightgrey;
  padding:20px;
}
.footer{
  background-color:aliceblue;
}

@media screen and (max-width: 100px) {
  .row, .navbar{
    flex-direction:column;
  }
}